# Ignore node_modules in the root directory
node_modules/

# Ignore client/node_modules
client/node_modules/

# Ignore server/node_modules
server/node_modules/

# Ignore server/config
server/config.env

# Ignore logs and other temporary files
*.log
*.tmp

# Ignore environment files
.env